// Bulma
@import "~bulma/bulma.sass";

.images {
    li {
        display: none;
        &.out {
            display: block;
        }
    }
}

.direction-btn {
    padding-top: 30px;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

